<link rel="stylesheet" type="text/css" href="/css/layout.css">

<div class="main">
    <h1>Codeal / <%= title%>
    </h1>
    <section id="feed-post">
        <form action="" id="new-post-form" method="post">
            <h4>Post</h4>
            <textarea name="content" id="" cols="30" rows="3" placeholder="Type Here...."></textarea>
            <input type="submit" value="Post">
        </form>
    </section>
</div>