<link rel="stylesheet" href="/css/user.css">
<div class="main">
    <h1>    
        home / <%= title%>
    </h1>

    <%if (locals.user.id == user_profile.id){%>
        <form action="/user/update/<%= user_profile.id%>" method="post">
            <input type="text" name="name"  placeholder="Your User Name" required id="">
            <input type="email" name="username"  placeholder="Your Email" required id="">
            <input type="submit" value="submit">
        </form>
        
    <%}else{%>

        <%= user_profile.name%>
        <%= user_profile.email%>   

    <%}%>
</div>