<h1>
    Sign Up
</h1>

<form action="/user/create" method="post">
    <input type="text" name="name" required placeholder="Your Name" id="">
    <input type="email" name="email" required placeholder="Your Email" id="">
    <input type="password" name="password" required placeholder="Your Password" id="">
    <input type="password" name="confirm_password" placeholder="Confirm password" id="">
    <input type="submit" value="Sign Up">
</form>